* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff6347;
  --secondary-color: #ffdab9;
  --white: #ffffff;
  --dark: #162140;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  height: 75px;
  background-color: var(--primary-color);
  border-bottom: 3px solid white;
  color: white;
  -webkit-text-stroke: 2px black;
}

body {
  background-color: var(--primary-color);
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 40px 10%;
  border: 3px solid black;
  background-color: var(--secondary-color);
  padding: 10% 5%;
  scroll-margin-top: 100px;
  text-wrap: wrap;
}

.card__answer {
  margin-top: 40px;
  border-radius: 37.5px;
  width: 100px;
  height: 37.5px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.card__categories {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 40px 0 0 0;
  gap: 10px;
  text-wrap: wrap;
}

.card__categorie-item {
  padding: 10px;
  font-size: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
}

.nav-bar {
  display: flex;
  height: 75px;
  border-top: 3px solid white;
  background: var(--primary-color);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer {
  position: sticky;
  bottom: 0;
}

.icon {
  filter: invert(100%);
  background-color: transparent;
}

.bookmark {
  position: absolute;
  top: -5px;
  right: 0;
  width: 35px;
  background-color: transparent;
  border: none;
}
