* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b38279;
  --secondary-color: #ffdab9;
  --white: #ffffff;
  --dark: #162140;
  /* font-family: ; */
}

body {
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin-top: 95px;
  margin-bottom: 85px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.icon {
  filter: invert(100%);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
