.card {
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3),
    -3px -3px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
  padding: 30px 30px;
  scroll-margin-top: 100px;
  text-wrap: wrap;
  border-radius: 45px 0;
  /* background-image: linear-gradient(rgb(255, 222, 174), #7e9ecbba); */
}

.question {
  font-size: 20px;
  /* display: flex;
  position: fixed;
  flex-wrap: wrap; */
}

.card__answer {
  margin-top: 40px;
  border-radius: 0 20px;
  width: 100px;
  height: 37.5px;
  align-self: center;
}

.card__categories {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 40px 0 0 0;
  gap: 10px;
  text-wrap: wrap;
}

.card__categorie-item {
  padding: 10px;
  font-size: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
}

.card__bookmark {
  position: absolute;
  top: -5px;
  right: 0;
  width: 35px;
  background-color: transparent;
  border: none;
}
