.card__new {
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 600px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 20px 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3),
    -3px -3px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
  padding: 30px 15px;
  scroll-margin-top: 100px;
  text-wrap: wrap;
  border-radius: 45px 0;
}

.newQuestionMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.newQuestionFieldset {
  border: none;
  margin-left: 20px;
}

.newQuestion {
  font-size: 20px;
}

.newTextarea {
  width: 240px;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.2); */
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.newTags {
  display: flex;
  margin-right: 170px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
}

.newInput {
  display: flex;
  margin-left: 20px;
  align-self: center;
  padding: 5px;
  width: 240px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3)
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.remainingChars {
  margin-top: -10px;
  font-size: 10px;
  color: gray;
}

/* Stile für das Formular */
.newQuestionForm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px; /* Maximale Breite für das Formular */
}

/* Stile für die Fieldsets */
.newQuestionFieldset {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.newQuestionSubmit:hover {
  background-color: #0056b3;
}

.form__submit {
  width: 100px;
  height: 37.5px;
  align-self: center;
  margin-top: 30px;
}