.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-bar {
  display: flex;
  height: 62.5px;
  border-top: 2px solid black;
  /* background: var(--primary-color); */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-image: linear-gradient(var(--primary-color), #7e9ecbba); */
}
