footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-bar {
  display: flex;
  height: 62.5px;
  border-top: 2px solid white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
