.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profilePicture {
  height: 100px;
  width: 100px;
  border-radius: 45px 0;
  margin-left: 35px;
  margin-top: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3),
    -3px -3px 5px rgba(0, 0, 0, 0.2);
}

.profile > h2 {
  margin-top: -70px;
  margin-left: 160px;
  font-size: 25px;
}

.profile > h3 {
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 20px;
}

.profile > p {
  font-size: 12.5px;
  width: 300px;
  height: 200px;
  margin-left: 35px;
}

.profileSettings > h3 {
  font-size: 20px;
  margin-left: 35px;
  margin-top: -100px;
}
